img {
	display: none;
}

header {
	background-color: #dcdcdc;
}

h1 {
	text-align: center;
	color: #b22222;
	text-transform: uppercase;
}

h2 {
	color: #6bFF23;
	text-transform: uppercase;
}

section {
	background-color: #786f76;
}

a {
	text-align: center;
	color: #c71585;
	background-color: #eee8aa;
}

h1, h2 {
	outline: 2px dashed #ff4500;
}

nav {
	outline: 1px dashed #191970;
}

section {
	outline: 2px dashed #6b8e23;
}

ul {
	outline: 2px dashed #00bfff;
}