img {
	display: none;
}

header {
	background-color: #dcdcdc;
}

h1 {
	text-align: center;
	color: #b22222;
	text-transform: uppercase;
}

h2 {
	color: #6bFF23;
	text-transform: uppercase;
}

section {
	background-color: #786f76;
}

a {
	text-align: center;
	color: #c71585;
	background-color: #eee8aa;
}